<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Text Utils</title>
  </head>


  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Play With Text</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="#">About Us</a>
      <a class="nav-item nav-link" href="#">Contact Us</a>

    </div>
  </div>
      <nav class="navbar navbar-dark bg-dark">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
</nav>

  <br>
  <br>
  <br>


  <div class="container">
      <h1 style="color:green;">WELCOME TO THE TEXT ANALYZER PLEASE ENTER THE TEXT</h1>
<form action="/analyzeText" method="post"> {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" name = "text" style="margin: 0px; width: 1192px; height: 246px;"></textarea>


    <input type="checkbox" id="remove1" name="cb1" >
    <label for="remove1">Remove Punctutaion</label><br>

    <input type="checkbox" id="convert2" name="cb2" >
    <label for="convert2"> Convert to UpperCase</label><br>

    <input type="checkbox" id="remove3" name="cb3" >
    <label for="remove3"> Remove new line</label><br>

    <input type="checkbox" id="remove4" name="cb4" >
    <label for="remove4"> Remove Extra Spaces </label><br>

    <button type="submit"class="btn btn-primary">Analyze Text</button>
  </div>

</form>

</div>


  </body>
</html>